{% extends 'base.html.twig' %}

{% block title %}Delivery Person | Edit{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-content">
                            <h3>Want to add a new user?</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                                aspernatur
                                culpa doloribus laborum necessitatibus rem temporibus. Beatae ipsa
                                officiis
                                quam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-heading"><strong>
                                Allowed Districts
                            </strong></div>
                        <div class="panel-content">
                            <div class="form-group row">
                                <div class="col-4"></div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Search" name="text"
                                           class="form-control">
                                </div>
                                <div class="col-4"></div>
                            </div>
                            <!-- Records List Start -->
                            <div class="records--list">
                                <table id="usersRoleList">
                                    <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>Province</th>
                                        <th>City</th>
                                        <th>Districts</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            Iran
                                        </td>
                                        <td>
                                            Tehran
                                        </td>
                                        <td>
                                            Tehran
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a href="#" class="fa fa-trash"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Iran
                                        </td>
                                        <td>
                                            Tehran
                                        </td>
                                        <td>
                                            Tehran
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a href="#" class="fa fa-trash"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Iran
                                        </td>
                                        <td>
                                            Tehran
                                        </td>
                                        <td>
                                            Tehran
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a href="#" class="fa fa-trash"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Iran
                                        </td>
                                        <td>
                                            Tehran
                                        </td>
                                        <td>
                                            Tehran
                                        </td>
                                        <td>12</td>
                                        <td>
                                            <a href="#" class="fa fa-trash"></a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <input type="text" placeholder="Country" name="text"
                                                   class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Province" name="text"
                                                   class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="City" name="text"
                                                   class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="District" name="text"
                                                   class="form-control">
                                        </td>
                                        <td>
                                            <a href="#" class="btn rounded btn-block btn-success fa fa-plus"></a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- Records List End -->
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <strong>
                                Delivery Methods
                            </strong>
                        </div>
                        <div class="panel-content">
                            <div class="form-group row">
                                <div class="col-4"></div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Search" name="text"
                                           class="form-control">
                                </div>
                                <div class="col-4"></div>
                            </div>
                            <!-- Records List Start -->
                            <div class="records--list">
                                <table id="table10">
                                    <thead>
                                    <tr>
                                        <th>Global token</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Accepted size</th>
                                        <th>Cost</th>
                                        <th>Can Receive Money</th>
                                        <th>Actions</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a href="#" class="btn-link">#315321</a>
                                        </td>
                                        <td>
                                            <img src="https://via.placeholder.com/50x50" alt="" class="rounded-circle">
                                        </td>
                                        <td>
                                            Delivery Name
                                        </td>
                                        <td>Fixed Price</td>
                                        <td>Small</td>
                                        <td>20000</td>
                                        <td>
                                            <span href="#" class="fa fa-times text-red"></span>
                                            <span href="#" class="fa fa-check text-green"></span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-eye"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="btn-link">#315321</a>
                                        </td>
                                        <td>
                                            <img src="https://via.placeholder.com/50x50" alt="" class="rounded-circle">
                                        </td>
                                        <td>
                                            Delivery Name
                                        </td>
                                        <td>Fixed Price</td>
                                        <td>Small</td>
                                        <td>20000</td>
                                        <td>
                                            <span href="#" class="fa fa-times text-red"></span>
                                            <span href="#" class="fa fa-check text-green"></span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-eye"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="btn-link">#315321</a>
                                        </td>
                                        <td>
                                            <img src="https://via.placeholder.com/50x50" alt="" class="rounded-circle">
                                        </td>
                                        <td>
                                            Delivery Name
                                        </td>
                                        <td>Fixed Price</td>
                                        <td>Small</td>
                                        <td>20000</td>
                                        <td>
                                            <span href="#" class="fa fa-times text-red"></span>
                                            <span href="#" class="fa fa-check text-green"></span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-eye"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="btn-link">#315321</a>
                                        </td>
                                        <td>
                                            <img src="https://via.placeholder.com/50x50" alt="" class="rounded-circle">
                                        </td>
                                        <td>
                                            Delivery Name
                                        </td>
                                        <td>Fixed Price</td>
                                        <td>Small</td>
                                        <td>20000</td>
                                        <td>
                                            <span href="#" class="fa fa-times text-red"></span>
                                            <span href="#" class="fa fa-check text-green"></span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-eye"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Records List End -->
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-heading"><strong>
                                Dispatch Delivery
                            </strong></div>
                        <div class="panel-content">
                            <div class="form-group row">
                                <div class="col-4"></div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Search" name="text"
                                           class="form-control">
                                </div>
                                <div class="col-4"></div>
                            </div>
                            <!-- Records List Start -->
                            <div class="records--list">
                                <table id="actionsOverview">
                                    <thead>
                                    <tr>

                                        <th>From Date time</th>
                                        <th>To Date time</th>
                                        <th>Address</th>
                                        <th>Status</th>
                                        <th>Delivery Method</th>
                                        <th>Delivery Queue</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>

                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>Energistically create leveraged architectures before
                                            high-quality
                                            ideas
                                        </td>
                                        <td>
                                            <span class="label label-success rounded">Delivered On Time</span>
                                            <span class="label label-info rounded">Delivered With Delay</span>
                                            <span class="label label-danger rounded">Rejected</span>
                                            <span class="label label-gray rounded">On The Way</span>
                                            <span class="label label-warning rounded">Delayed</span>
                                            <span class="label label-default rounded">Canceled</span>
                                        </td>
                                        <td><a href="#" class="btn-link">Delivery Method</a></td>
                                        <td>Sunday (10:00 - 12:00)</td>
                                    </tr>
                                    <tr>

                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>Energistically create leveraged architectures before
                                            high-quality
                                            ideas
                                        </td>
                                        <td>
                                            <span class="label label-success rounded">Delivered On Time</span>
                                            <span class="label label-info rounded">Delivered With Delay</span>
                                            <span class="label label-danger rounded">Rejected</span>
                                            <span class="label label-gray rounded">On The Way</span>
                                            <span class="label label-warning rounded">Delayed</span>
                                            <span class="label label-default rounded">Canceled</span>
                                        </td>
                                        <td><a href="#" class="btn-link">Delivery Method</a></td>
                                        <td>Sunday (10:00 - 12:00)</td>
                                    </tr>
                                    <tr>

                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>Energistically create leveraged architectures before
                                            high-quality
                                            ideas
                                        </td>
                                        <td>
                                            <span class="label label-success rounded">Delivered On Time</span>
                                            <span class="label label-info rounded">Delivered With Delay</span>
                                            <span class="label label-danger rounded">Rejected</span>
                                            <span class="label label-gray rounded">On The Way</span>
                                            <span class="label label-warning rounded">Delayed</span>
                                            <span class="label label-default rounded">Canceled</span>
                                        </td>
                                        <td><a href="#" class="btn-link">Delivery Method</a></td>
                                        <td>Sunday (10:00 - 12:00)</td>
                                    </tr>
                                    <tr>

                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>Energistically create leveraged architectures before
                                            high-quality
                                            ideas
                                        </td>
                                        <td>
                                            <span class="label label-success rounded">Delivered On Time</span>
                                            <span class="label label-info rounded">Delivered With Delay</span>
                                            <span class="label label-danger rounded">Rejected</span>
                                            <span class="label label-gray rounded">On The Way</span>
                                            <span class="label label-warning rounded">Delayed</span>
                                            <span class="label label-default rounded">Canceled</span>
                                        </td>
                                        <td><a href="#" class="btn-link">Delivery Method</a></td>
                                        <td>Sunday (10:00 - 12:00)</td>
                                    </tr>
                                    <tr>

                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>Energistically create leveraged architectures before
                                            high-quality
                                            ideas
                                        </td>
                                        <td>
                                            <span class="label label-success rounded">Delivered On Time</span>
                                            <span class="label label-info rounded">Delivered With Delay</span>
                                            <span class="label label-danger rounded">Rejected</span>
                                            <span class="label label-gray rounded">On The Way</span>
                                            <span class="label label-warning rounded">Delayed</span>
                                            <span class="label label-default rounded">Canceled</span>
                                        </td>
                                        <td><a href="#" class="btn-link">Delivery Method</a></td>
                                        <td>Sunday (10:00 - 12:00)</td>
                                    </tr>
                                    <tr>

                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>Energistically create leveraged architectures before
                                            high-quality
                                            ideas
                                        </td>
                                        <td>
                                            <span class="label label-success rounded">Delivered On Time</span>
                                            <span class="label label-info rounded">Delivered With Delay</span>
                                            <span class="label label-danger rounded">Rejected</span>
                                            <span class="label label-gray rounded">On The Way</span>
                                            <span class="label label-warning rounded">Delayed</span>
                                            <span class="label label-default rounded">Canceled</span>
                                        </td>
                                        <td><a href="#" class="btn-link">Delivery Method</a></td>
                                        <td>Sunday (10:00 - 12:00)</td>
                                    </tr>
                                    <tr>

                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>
                                            1397/12/12 - 13:45
                                        </td>
                                        <td>Energistically create leveraged architectures before
                                            high-quality
                                            ideas
                                        </td>
                                        <td>
                                            <span class="label label-success rounded">Delivered On Time</span>
                                            <span class="label label-info rounded">Delivered With Delay</span>
                                            <span class="label label-danger rounded">Rejected</span>
                                            <span class="label label-gray rounded">On The Way</span>
                                            <span class="label label-warning rounded">Delayed</span>
                                            <span class="label label-default rounded">Canceled</span>
                                        </td>
                                        <td><a href="#" class="btn-link">Delivery Method</a></td>
                                        <td>Sunday (10:00 - 12:00)</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- Records List End -->
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-heading"><strong>
                                Dispatch Payments
                            </strong></div>
                        <div class="panel-content">
                            <div class="form-group row">
                                <div class="col-4"></div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Search" name="text"
                                           class="form-control">
                                </div>
                                <div class="col-4"></div>
                            </div>
                            <!-- Records List Start -->
                            <div class="records--list">
                                <table id="ProvincesList">
                                    <thead>
                                    <tr>
                                        <th>Order token</th>
                                        <th>Payment request token</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a href="">#16412356</a>
                                        </td>
                                        <td>
                                            <a href="">#16434356</a>
                                        </td>
                                        <td>125,000</td>
                                        <td>
                                            <span class="label label-success rounded">Cleared</span>
                                            <span class="label label-danger rounded">Not paid</span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-check text-green"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">#16412356</a>
                                        </td>
                                        <td>
                                            <a href="">#16434356</a>
                                        </td>
                                        <td>125,000</td>
                                        <td>
                                            <span class="label label-success rounded">Cleared</span>
                                            <span class="label label-danger rounded">Not paid</span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-check text-green"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">#16412356</a>
                                        </td>
                                        <td>
                                            <a href="">#16434356</a>
                                        </td>
                                        <td>125,000</td>
                                        <td>
                                            <span class="label label-success rounded">Cleared</span>
                                            <span class="label label-danger rounded">Not paid</span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-check text-green"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">#16412356</a>
                                        </td>
                                        <td>
                                            <a href="">#16434356</a>
                                        </td>
                                        <td>125,000</td>
                                        <td>
                                            <span class="label label-success rounded">Cleared</span>
                                            <span class="label label-danger rounded">Not paid</span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-check text-green"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">#16412356</a>
                                        </td>
                                        <td>
                                            <a href="">#16434356</a>
                                        </td>
                                        <td>125,000</td>
                                        <td>
                                            <span class="label label-success rounded">Cleared</span>
                                            <span class="label label-danger rounded">Not paid</span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-check text-green"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">#16412356</a>
                                        </td>
                                        <td>
                                            <a href="">#16434356</a>
                                        </td>
                                        <td>125,000</td>
                                        <td>
                                            <span class="label label-success rounded">Cleared</span>
                                            <span class="label label-danger rounded">Not paid</span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-check text-green"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="">#16412356</a>
                                        </td>
                                        <td>
                                            <a href="">#16434356</a>
                                        </td>
                                        <td>125,000</td>
                                        <td>
                                            <span class="label label-success rounded">Cleared</span>
                                            <span class="label label-danger rounded">Not paid</span>
                                        </td>
                                        <td>
                                            <a href="#" class="fa fa-check text-green"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Records List End -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <!-- Mini Stats Panel Start -->
                        <div class="miniStats--panel">
                            <div class="miniStats--body">
                                <i class="miniStats--icon fa fa-user text-blue"></i>
                                <h3 class="miniStats--title h4">Delivery person name</h3>
                                <p class="miniStats--caption text-blue">+98912034273</p>
                                <p class="miniStats--caption text-blue">Delivered dispatches</p>

                                <p class="miniStats--num text-blue">
                                    13,450
                                </p>
                            </div>
                        </div>
                        <!-- Mini Stats Panel End -->
                    </div>
                </div>
                <div class="col-12">
                    <div class="panel">
                        <div class="weather--panel text-white bg-orange">
                            <div class="weather--title">
                                <i class="fa fa-money-bill-alt"></i>
                                <span>Clear amount</span>
                            </div>

                            <div class="weather--info">
                                <span>25,000,000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="panel">
                        <div class="weather--panel text-white bg-darker">
                            <div class="weather--title">
                                <i class="fa fa-exclamation"></i>
                                <span>Availability</span>
                            </div>

                            <div class="weather--info">
                                <a href="#" class="fa fa-play text-green"></a>
                                <a href="#" class="fa fa-ban text-red"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
