{% extends 'base.html.twig' %}

{% block title %}Delivery Method | Create{% endblock %}

{% block body %}

    <form action="{{ path('upload_test') }}" method="post" enctype="multipart/form-data">
        <input name="test_file" type="file" class="btn btn-primary">
        <input type="submit">
    </form>
{% endblock %}
