{% extends 'base.html.twig' %}

{% block title %}Dispatch | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>Welcome</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa
                                delectus
                                eos, minus nemo neque obcaecati placeat quam quisquam ullam?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-heading">
                    <strong>
                        Dispatch Delivery Status
                    </strong>
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="col-4">
                            <div class="panel">
                                <div class="weather--panel text-white bg-green">
                                    <div class="weather--title">
                                        <i class="fa fa-exclamation"></i>
                                        <span>Delivered On Time</span>
                                    </div>
                                    <div class="weather--info">
                                        <span>25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="panel">
                                <div class="weather--panel text-white bg-info">
                                    <div class="weather--title">
                                        <i class="fa fa-exclamation"></i>
                                        <span>Delivered With Delay</span>
                                    </div>

                                    <div class="weather--info">
                                        <span>25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="panel">
                                <div class="weather--panel text-white bg-red">
                                    <div class="weather--title">
                                        <i class="fa fa-exclamation"></i>
                                        <span>Rejected</span>
                                    </div>

                                    <div class="weather--info">
                                        <span>25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="panel">
                                <div class="weather--panel text-white bg-secondary">
                                    <div class="weather--title">
                                        <i class="fa fa-exclamation"></i>
                                        <span>On The Way</span>
                                    </div>

                                    <div class="weather--info">
                                        <span>25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="panel">
                                <div class="weather--panel text-white bg-orange">
                                    <div class="weather--title">
                                        <i class="fa fa-exclamation"></i>
                                        <span>Delayed</span>
                                    </div>

                                    <div class="weather--info">
                                        <span>25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="panel">
                                <div class="weather--panel text-white bg-darker">
                                    <div class="weather--title">
                                        <i class="fa fa-exclamation"></i>
                                        <span>Canceled</span>
                                    </div>

                                    <div class="weather--info">
                                        <span>25</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-heading"><strong>
                        Dispatch List
                    </strong></div>
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>

                                <th>DispatchToken</th>
                                <th>Order Token</th>
                                <th>Delivery Person</th>
                                <th>Delivery Method</th>
                                <th>Delivery Queue</th>
                                <th>Delivery Cost Status</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="" class="btn-link">#16456</a>
                                </td>
                                <td>
                                    <a href="" class="btn-link">#16456</a>
                                </td>
                                <td>
                                    Delivery Person
                                </td>
                                <td>
                                    <a href="" class="btn-link">Delivery Method</a>
                                </td>
                                <td>
                                    Sunday (10:00 - 12:00)
                                </td>
                                <td>
                                    <span class="label label-success rounded">Paid</span>
                                    <span class="label label-danger rounded">Open</span>
                                </td>
                                <td>
                                    <span class="label label-success rounded">Delivered On Time</span>
                                    <span class="label label-info rounded">Delivered With Delay</span>
                                    <span class="label label-danger rounded">Rejected</span>
                                    <span class="label label-gray rounded">On The Way</span>
                                    <span class="label label-warning rounded">Delayed</span>
                                    <span class="label label-default rounded">Canceled</span>
                                </td>
                                <td>
                                    <a href="" class="fa fa-eye"></a>
                                </td>
                            </tr>



                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
