{% extends 'base.html.twig' %}

{% block title %}Coupon Group | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h1>welcome section</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque eum libero
                                numquam
                                obcaecati perspiciatis quas quisquam soluta unde voluptates.
                            </p>

                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                            <a href="{{ path('accounting_coupon_group_accounting_coupon_group_create') }}" class="btn btn-block rounded btn-success fa fa-plus"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Expiry date</th>
                                <th scope="col">Type</th>
                                <th scope="col">Effect</th>
                                <th scope="col">Minimum invoice price</th>
                                <th scope="col">Is private</th>
                                <th scope="col">Usage times</th>
                                <th scope="col">Creator</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Confirmer</th>
                                <th scope="col">Confirm Date</th>
                                <th scope="col">Confirm Status</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td>1397/02/12</td>
                                <td>Percentage/Fixed</td>
                                <td>20% / 10,000</td>
                                <td>120,000</td>
                                <td>Private</td>
                                <td>25</td>
                                <td>User One</td>
                                <td>1397/02/12</td>
                                <td>User Two</td>
                                <td>1397/02/12</td>
                                <td>
                                    <span class="label label-green rounded">Accepted</span>
                                    <span class="label label-red rounded">Rejected</span>
                                    <span class="label label-orange rounded">Waiting</span>
                                </td>
                                <td>
                                    <span class="label label-green rounded">Active</span>
                                    <span class="label label-red rounded">Deactive</span>
                                </td>
                                <td>
                                    <a href="{{ path('accounting_coupon_group_accounting_coupon_group_read') }}" class="fa fa-eye"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
