{% extends 'base.html.twig' %}

{% block title %}Coupon Group | Read{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>welcome section</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque eum libero
                                numquam
                                obcaecati perspiciatis quas quisquam soluta unde voluptates.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">cpn_ADD41561</h3>
                </div>

                <div class="feeds-panel">
                    <ul class="nav">
                        <li>
                            <span class="time">1</span>
                            <i class="fa fa-shopping-cart text-white bg-blue"></i>
                            <span class="text">Left</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="panel">
                <div class="weather--panel text-white bg-darker">
                    <div class="weather--title">
                        <i class="fa fa-exclamation"></i>
                        <span>Availability</span>
                    </div>

                    <div class="weather--info">
                        <span class="label label-green rounded">Active</span>
                        <span class="label label-red rounded">Deactive</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="panel">
                <div class="weather--panel text-white bg-darker">
                    <div class="weather--title">
                        <i class="fa fa-exclamation"></i>
                        <span>Confirm</span>
                    </div>

                    <div class="weather--info">
                        <span class="label label-green rounded">Accepted</span>
                        <span class="label label-orange rounded">Waiting</span>
                        <span class="label label-red rounded">Rejected</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Name</span>

                                <div class="col-md-12">
                                    Coupon Group
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Prefix</span>
                                <div class="col-md-12">
                                    cpn_ADS84561
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Expiry date</span>
                                <div class="col-md-12">
                                    1399/12/12
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Discount type</span>
                                Percentage
                            </div>
                        </div>

                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Effect</span>

                                <div class="col-md-12">
                                    20%
                                </div>
                            </div>
                        </div>

                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Minimum Invoice price</span>

                                <div class="col-md-12">
                                    1,000,000
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <span class="label-text col-md-12 col-form-label ">Type</span>
                                Private
                            </div>
                        </div>

                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Usage times</span>
                                <div class="col-md-12">
                                    3
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Confirmor</span>
                                <div class="col-md-12">
                                    Perosn
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Confirm Date</span>
                                <div class="col-md-12">
                                    1398/12/12
                                </div>
                            </div>
                        </div>
                        <div class="col-4 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Description</span>
                                <div class="col-md-12">
                                    Uniquely benchmark economically sound outsourcing through impactful e-services. Intrinsicly initiate
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th scope="col">Owner</th>
                                <th scope="col">Use Date</th>
                                <th scope="col">Order</th>
                                <th scope="col">Order Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Username
                                </td>
                                <td>
                                    1398/12/23
                                </td>
                                <td>
                                    <a href="">#1648615</a>
                                </td>
                                <td>
                                    2,000,000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="panel">
                <div class="panel-content">

                    <!---->
                    <div class="records--list">
                        <table id="countriesList">
                            <thead>
                            <tr>
                                <th>Global Token</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Phone</th>
                                <th>Groups</th>
                                <th>Company</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="#" class="btn-link">#315321</a>
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">+989125966246</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="btn-link">#315321</a>
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">+989125966246</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="btn-link">#315321</a>
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">+989125966246</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="btn-link">#315321</a>
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">+989125966246</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="btn-link">#315321</a>
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">+989125966246</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                    <span class="label label-info rounded">Company</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
