{% extends 'base.html.twig' %}

{% block title %}Customer | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h3>Welcome content</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque, in ipsam molestias
                                nostrum quidem repudiandae sequi suscipit ullam voluptatem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th>Global Token</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Groups</th>
                                <th>Company</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    #315321
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">info@site.com</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company1</span>
                                    <span class="label label-info rounded">Company1</span>
                                </td>
                                <td>
                                    <a href="#" class="fa fa-eye"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #315321
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">info@site.com</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company1</span>
                                    <span class="label label-info rounded">Company1</span>
                                </td>
                                <td>
                                    <a href="#" class="fa fa-eye"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #315321
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">info@site.com</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company1</span>
                                    <span class="label label-info rounded">Company1</span>
                                </td>
                                <td>
                                    <a href="#" class="fa fa-eye"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #315321
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">info@site.com</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company1</span>
                                    <span class="label label-info rounded">Company1</span>
                                </td>
                                <td>
                                    <a href="#" class="fa fa-eye"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #315321
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">info@site.com</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company1</span>
                                    <span class="label label-info rounded">Company1</span>
                                </td>
                                <td>
                                    <a href="#" class="fa fa-eye"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #315321
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">info@site.com</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company1</span>
                                    <span class="label label-info rounded">Company1</span>
                                </td>
                                <td>
                                    <a href="#" class="fa fa-eye"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #315321
                                </td>
                                <td>
                                    Customer Name
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">02196385274</a>
                                </td>
                                <td>
                                    <a href="#" class="btn-link">info@site.com</a>
                                </td>
                                <td>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                    <span class="label label-info rounded">GP1</span>
                                </td>
                                <td>
                                    <span class="label label-info rounded">Company1</span>
                                    <span class="label label-info rounded">Company1</span>
                                </td>
                                <td>
                                    <a href="#" class="fa fa-eye"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
