{% extends 'base.html.twig' %}

{% block title %}Customer | Gift & Coupon{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Customer Name
                </div>
                <div class="panel-content">
                    {% include 'crm/customer/tab.html.twig' %}
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start Gift & Coupon -->
                        <div class="tab-pane fade show active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <strong>Gift Cards</strong>
                                        </div>
                                        <div class="panel-content">
                                            <div class="form-group row">
                                                <div class="col-4"></div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Search" name="text"
                                                           class="form-control">
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                            <!-- Records List Start -->
                                            <div class="records--list">
                                                <table id="table8">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Use date</th>
                                                        <th scope="col">Expiry date</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            Gift card series name
                                                        </td>
                                                        <td>
                                                            120,000
                                                        </td>
                                                        <td>
                                                            12-12-12
                                                        </td>
                                                        <td>
                                                            12-12-12
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Records List End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <strong>Coupons</strong>
                                        </div>
                                        <div class="panel-content">
                                            <div class="form-group row">
                                                <div class="col-4"></div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Search" name="text"
                                                           class="form-control">
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                            <!-- Records List Start -->
                                            <div class="records--list">
                                                <table id="table7">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Series name</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Effect</th>
                                                        <th scope="col">Minimum invoice price</th>
                                                        <th scope="col">Order</th>
                                                        <th scope="col">Order Total Price</th>
                                                        <th scope="col">Use Date</th>
                                                        <th scope="col">Expiry date</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            Coupon series name
                                                        </td>
                                                        <td>
                                                            Percentage/Fixed
                                                        </td>
                                                        <td>
                                                            20% / 10,000
                                                        </td>
                                                        <td>
                                                            120,000
                                                        </td>
                                                        <td>
                                                            <a href="" class="btn-link">#261561</a>
                                                        </td>
                                                        <td>
                                                            1,000,000
                                                        </td>
                                                        <td>
                                                            1397/02/12
                                                        </td>
                                                        <td>
                                                            1397/02/12
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Records List End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
