{% extends 'base.html.twig' %}

{% block title %}Gift Card Group | Read{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-5">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>welcome section</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque eum libero
                                numquam
                                obcaecati perspiciatis quas quisquam soluta unde voluptates.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">gift_ADD41561</h3>
                </div>

                <div class="feeds-panel">
                    <ul class="nav">
                        <li>
                            <span class="time">100,000</span>
                            <i class="fa fa-money-bill-alt text-white bg-green"></i>
                            <span class="text">Amount</span>
                        </li>
                        <li>
                            <span class="time">1398/12/12</span>
                            <i class="fa fa-hourglass text-white bg-red"></i>
                            <span class="text">Expiry Date</span>
                        </li>
                        <li>
                            <span class="time">20</span>
                            <i class="fa fa-bars text-white bg-orange"></i>
                            <span class="text">Count</span>
                        </li>
                        <li>
                            <span class="time">10</span>
                            <i class="fa fa-shopping-cart text-white bg-blue"></i>
                            <span class="text">Left</span>
                        </li>
                        <li>
                            <span class="time">Person</span>
                            <i class="fa fa-user text-white bg-dark"></i>
                            <span class="text">Confirmir</span>
                        </li>
                        <li>
                            <span class="time">1398/12/12</span>
                            <i class="fa fa-hourglass-start text-white bg-secondary"></i>
                            <span class="text">Confirm Date</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="panel">
                <div class="weather--panel text-white bg-darker">
                    <div class="weather--title">
                        <i class="fa fa-exclamation"></i>
                        <span>Availability</span>
                    </div>

                    <div class="weather--info">
                        <span class="label label-green rounded">Active</span>
                        <span class="label label-red rounded">Deactive</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="panel">
                <div class="weather--panel text-white bg-darker">
                    <div class="weather--title">
                        <i class="fa fa-exclamation"></i>
                        <span>Confirm</span>
                    </div>

                    <div class="weather--info">
                        <span class="label label-green rounded">Accepted</span>
                        <span class="label label-red rounded">Rejected</span>
                        <span class="label label-orange rounded">Waiting</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="ProvincesList">
                            <thead>
                            <tr>
                                <th scope="col">Gift Card</th>
                                <th scope="col">Use Status</th>
                                <th scope="col">Status</th>
                                <th scope="col">Used By</th>
                                <th scope="col">Used Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    GIFT_GHDS15612
                                </td>
                                <td>
                                    <span class="label label-green rounded">Used</span>
                                    <span class="label label-red rounded">Not Used</span>
                                </td>
                                <td>
                                    <span class="label label-green rounded">Active</span>
                                    <span class="label label-red rounded">Deactive</span>
                                </td>
                                <td>
                                    Username
                                </td>
                                <td>
                                    1398/12/12
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>

    </div>
{% endblock %}
